@model WebApplication6.Models.ČlanoviBendum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ČlanoviBendum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Band)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Band.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glazbenik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glazbenik.Ime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
