@model IEnumerable<WebApplication6.Models.Glazbenik>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
   
    <form asp-controller="Glazbeniks" asp-action="CreateDocument" method="get">

        <div>



            <select name="vrsta">
                <option value="Ime">Ime</option>
                <option value="Prezime">Prezime</option>
                <option value="Mjesto">Mjesto </option>



            </select>


<p>
    <input type="text" name="filter">
    <input type="submit" value="Napravi PDF" />
</p>
    </div>
</form>
<form asp-controller="Albums" asp-action="CreateDocument" method="get">
    <input type="submit" value="Napravi PDF" />

</form></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumRođenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mjesto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumRođenja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mjesto.Ime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
